<launch>

  <arg name="robot_namespace" default="vehicle0" />

  <arg name="backend" default="fastlio" />
  <arg name="state_topic" default="/$(arg robot_namespace)/Odometry" />
  <arg name="cloud_topic" default="/$(arg robot_namespace)/cloud_registered" />

  <!-- <arg name="backend" default="liosam" />
  <arg name="state_topic" default="/lio_sam/mapping/odometry" />
  <arg name="cloud_topic" default="/lio_sam/mapping/cloud_registered" /> -->

  <arg name="output_odom_topic" default="/$(arg robot_namespace)/state_estimation" />
  <arg name="output_cloud_topic" default="/$(arg robot_namespace)/registered_scan" />

  <arg name="output_frame" default="map" />
  <arg name="output_child_frame" default="$(arg robot_namespace)/sensor" />

  <arg name="send_tf" default="true" />
  <arg name="reverse_tf" default="false" />

  <node pkg="loam_interface" type="loamInterface" name="loamInterface" output="screen"
    required="true">
    <param name="backend" type="string" value="$(arg backend)" />
    <param name="robotNamespace" type="string" value="$(arg robot_namespace)" />

    <param name="stateTopic" type="string" value="$(arg state_topic)" />
    <param name="cloudTopic" type="string" value="$(arg cloud_topic)" />
    <param name="outputOdometryTopic" type="string" value="$(arg output_odom_topic)" />
    <param name="outputCloudTopic" type="string" value="$(arg output_cloud_topic)" />

    <param name="outputFrame" type="string" value="$(arg output_frame)" />
    <param name="outputChildFrame" type="string" value="$(arg output_child_frame)" />

    <param name="sendTF" type="bool" value="$(arg send_tf)" />
    <param name="reverseTF" type="bool" value="$(arg reverse_tf)" />
  </node>

</launch>